<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Jingwei Zhao</h1>
            <hr>  
            <div class="col-lg-3 col-md-6 text-center">
                <a href="mailto:jzhao@u.nus.edu">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>jzhao@u.nus.edu</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://github.com/zhaojw1998" target="_blank">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{site.github_username}}</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://www.linkedin.com/in/jingweizhao1998/" target="_blank">
                    <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>赵经纬</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="/archive/pdf/CV_Jingwei.pdf" target="_blank">
                <i class="fa fa-suitcase fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>My CV</p>
                </a>
            </div>
            <hr>  
            <a href="#About" class="btn btn-primary btn-xl page-scroll">More About Me</a>
        </div>
    </div>
</header>
