<section class="bg-white small-padding" id="Honors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Honors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="list-inline">
                <ul>
                    <li><p>Zhiyuan Honor Degree of Bachelor of Engineering in Automation</p></li>
                    <li><p>Han-Ying-Ju-Hua Scholarship (Top 2%, 2020-2021)</p></li>
                    <li><p>Zhiyuan Honors Scholarship (Top 5% 2017-2021)</p></li>
                    <li><p>SJTU Undergraduate Excellent Scholoarship (Top 10%, 2018-2021)</p></li>
                </ul>
            </ul>
        </div>
        <p></p>
    </div>
</section>
