<section class="bg-white small-padding" id="Performances">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Performances</h2>
                <hr class="primary">
            </div>
        </div>

        
    <p class="h3">@SJTU Student Choir</p>

    <p class='text-justify'>
    Choral piece <em>Dream</em> at Qian Xuesen Library, Shanghai Jiao Tong University, October 2019.
    </p>

    <p class="text-center">
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/Djab2uYcY4A">
    </iframe>
    </p>


    </div>
</section>

