<section class="bg-faded" id="About">
    <div class="container no-gutter">
        <div class="row">
            
            <div class="col-sm-3">
                <p></p>
                <img src="archive/profile/ljr_profile_cut.JPG" class="center-block" style="width: 195px; height: auto">
                <p></p>
            
                <div class="col-sm-1"></div>

                <div class="col-sm-10">
                    <div class="col-sm-3">
                        <a href="mailto:jzhao@u.nus.edu">
                            <i class="fa fa-envelope-o fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://github.com/zhaojw1998" target="_blank">
                        <i class="fa fa-github fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.linkedin.com/in/jingweizhao1998/" target="_blank">
                            <i class="fa fa-linkedin fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/archive/pdf/CV_Jingwei.pdf" target="_blank">
                        <i class="fa fa-suitcase fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-1"></div>
                
            </div>
            

            <div class="col-sm-9">
                <p></p>
                <p class='text-justify' style="font-size: 12pt;">Hullo! This is Jingwei, a second-year PhD student from <a href="https://smcnus.github.io/" target="_blank">NUS Sound & Music Computing Lab</a> supervised by <a href="https://www.comp.nus.edu.sg/cs/people/wangye/" style="color: #333;">Prof. Ye Wang</a>. I'm broadly interested in computer music and machine learning. I wish my research to render a better experience in creating, enjoying, and interacting with music. My current research focuses on <em>controllable music generation</em> as an assistive tool for music creation and learning. </p>
                    
                <p class='text-justify'>Before joining NUS, I acquired my B.E. with honors in Automation at <a href="http://en.sjtu.edu.cn/" target="_blank">Shanghai Jiao Tong University</a>, where I was affiliated to  <a href="https://en.zhiyuan.sjtu.edu.cn/" style="color: #333;"> Zhiyuan Honors Program</a>. Since my 4th year, I have worked as a research assistant with <a href="https://www.cs.cmu.edu/~gxia/" style="color: #333;">Prof. Gus Xia</a> at <a href="http://www.musicxlab.com/#/" target="_blank">Music X Lab, NYU Shanghai</a>.</p>
                    
                <p class='text-justify'>I am a professional accordion player and an amateur Bass singer. I proudly served in SJTU Student Choir during my undergraduate study. I enjoy light music, reading, and jogging.</p>
            </div>
            
        </div>

        <div class="row">
            <p></p>
        </div>



    </div>
</section>