<section class="bg-faded" id="About">
    <div class="container no-gutter">
        <div class="row">
            
            <div class="col-sm-3">
                <p></p>
                <img src="archive/profile/zjw_profile.JPG" class="center-block" style="width: 195px; height: auto">
                <p></p>
            
                <div class="col-sm-1"></div>

                <div class="col-sm-10">
                    <div class="col-sm-3">
                        <a href="mailto:jzhao@u.nus.edu">
                            <i class="fa fa-envelope-o fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://github.com/zhaojw1998" target="_blank">
                        <i class="fa fa-github fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.linkedin.com/in/jingweizhao1998/" target="_blank">
                            <i class="fa fa-linkedin fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/archive/pdf/CV_Jingwei.pdf" target="_blank">
                        <i class="fa fa-suitcase fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-1"></div>
                
            </div>
            

            <div class="col-sm-9">
                <p></p>
                <p class='text-justify' style="font-size: 12pt;">Hullo! This is Jingwei, a second-year PhD student from <a href="https://smcnus.github.io/" target="_blank">NUS Sound & Music Computing Lab</a> supervised by <a href="https://www.comp.nus.edu.sg/cs/people/wangye/" style="color: #222;">Prof. Ye Wang</a>. I'm broadly interested in computer music and machine learning. I wish my research to render a better experience in creating, enjoying, and interacting with music. My current research focuses on <em>controllable music generation</em> as an assistive tool for music creation and learning. </p>
                    
                <p class='text-justify'>Before joining NUS, I acquired my B.E. with honors in Automation at <a href="http://en.sjtu.edu.cn/" target="_blank">Shanghai Jiao Tong University</a>, where I was affiliated to  <a href="https://en.zhiyuan.sjtu.edu.cn/" style="color: #222;"> Zhiyuan Honors Program</a>. Since my 4th year, I have worked as a research assistant with <a href="https://www.cs.cmu.edu/~gxia/" style="color: #222;">Prof. Gus Xia</a> at <a href="http://www.musicxlab.com/#/" target="_blank">Music X Lab, NYU Shanghai</a>.</p>
                    
                <p class='text-justify'>I am a professional accordion player and an amateur Bass singer. I proudly served in SJTU Student Choir during my undergraduate study. I enjoy light music, reading, and jogging.</p>
            </div>
            
        </div>

        <div class="row">
            <p></p>
        </div>

        <div class="row">
            <h3 id="-recent-news"><i class="fa fa-fw fa-rss "></i> Recent news</h3>
        </div>
        <div style="background-color:rgba(211, 211, 211, 0.185);">
            <ul style="width: auto; height: 195px; overflow: auto; line-height: 2;">
                <p></p>

                <li><b>[2022.07]</b> <em><b>NUS Sound and Music Computing Lab</b></em> has overcome a server attack and has a <em><a href="https://smcnus.comp.nus.edu.sg/" target="_blank">brand new lab webpage</a></em> now. Feel free to visit us and keep in touch!</li>

                <li><b>[2022.06]</b> I am honored to have chance visiting <a href="https://mbzuai.ac.ae/" target="_blank">MBZUAI, Abu Dhabi</a> in July for research collaboration with Prof. Gus Xia.</li>

                <li><b>[2021.11]</b> I directed and edited the <a href="presentation_page#smcnus_lab_showcase" target="_blank">Lab Showcase video</a> for NUS Sound and Music Computing Lab at ISMIR 2021.</li>

                <li><b>[2021.08]</b> I started my PhD candidature at National University of Singapore.</li>

                <li><b>[2021.07]</b> I fulfilled my RA position at NYU Shanghai.</li>

                <li><b>[2021.07]</b> My paper <a href="https://arxiv.org/abs/2108.11213" target="_blank"><em>"AccoMontage: Accompaniment Arrangement via Phrase Selection and Style Transfer"</em></a> is accepted by <a href="https://ismir2021.ismir.net/" target="_blank">ISMIR 2021</a>. My presentation video is available <a href="presentation_page#accomontage_presentation" target="_blank">here</a>.</li>

                <li><b>[2021.06]</b> I graduated from Shanghai Jiao Tong University and earned my <em>B.E.</em> degree with honors from Department of Automation and from Zhiyuan College.</li>

                <li><b>[2021.06]</b> I worked as a senior volunteer at <a href="http://nime2021.org/" target="_blank">NIME 2021</a> hosted by NYU shanghai.</li>

                <li><b>[2020.06]</b> I started my internship as a research assistent of music </em> and worked with Prof. Gus Xia at NYU Shanghai.</li>

                <p></p>
            </ul>
        </div>
            
        </div>

    </div>
</section>