<section class="bg-faded" id="About">
    <div class="container no-gutter">
        <div class="row">
            
            <div class="col-sm-3">
                <p></p>
                <img src="archive/profile/ljr_profile_cut.jpg" class="center-block" style="width: 195px; height: auto">
                <p></p>
            
                <div class="col-sm-1"></div>

                <div class="col-sm-10">
                    <div class="col-sm-3">
                        <a href="mailto:li_jingru@pku.edu.cn">
                            <i class="fa fa-envelope-o fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://github.com/ivylijingru" target="_blank">
                        <i class="fa fa-github fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <!-- <div class="col-sm-3">
                        <a href="https://www.linkedin.com/in/jingweizhao1998/" target="_blank">
                            <i class="fa fa-linkedin fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/archive/pdf/CV_Jingwei.pdf" target="_blank">
                        <i class="fa fa-suitcase fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div> -->
                </div>

                <div class="col-sm-1"></div>
                
            </div>
            

            <div class="col-sm-9">
                <p></p>
                <p class='text-justify' style="font-size: 12pt;">Hello! This is Jingru, currently a full-time R&D at <a href="https://multimedia.tencent.com/" target="_blank">Tencent Media Lab</a>. I'm interested in computer music, computer audio and machine learning. I wish my work would render a better experience in creating, enjoying, and interacting with music.</p>
                    
                <p class='text-justify'>I acquired my B.S. in Computer Science at <a href="https://www.pku.edu.cn/" target="_blank">Peking University</a>, where I studied and conducted research on computer music with <a href="https://www.icst.pku.edu.cn/english/people/cc/1297379.htm" target="_blank">Prof. Xiaoou Chen</a> at <a href="https://www.icst.pku.edu.cn/audioLab/index.htm" target="_blank">Digital Aduio Lab</a>.</p>
                    
                <p class='text-justify'>I am an amateur piano player and Alto singer. I took part in PKU piano club during my undergraduate study. I enjoy J-pop music, reading, and playing games.</p>
            </div>
            
        </div>


    </div>
</section>