<section class="bg-white small-padding" id="Projects">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Selected Projects</h2>
                <hr class="primary">
            </div>
        </div>

        <div class="row">
            <blockquote class="h4 text-left">
                <p style="color:steelblue; font-size:14pt">Erhu Playing Techniques Detection</p>
            </blockquote>
            <div class="col-sm-4">
                <a href="https://github.com/water45wzh/MIPTD_Erhu" class="portfolio-box">
                    <img src="archive/projects/project_erhu.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project
                            </div>
                            <div class="project-name">
                                Github Page
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-8">
                <ul class="list-inline">
                    <ul class='text-justify'>
                        <li><p>The detection of musical instrument playing techniques plays an important role in music transcription in addition to the recognition and extraction of music notions such as pitches and chords.</p></li> 
                        <li><p>In this project, we propose a general end-to-end method based on Sound Event Detection by FCN(Fully Convolutional Networks) through a deep learning method for our musical instrument playing technique detection task. The highest accuracy of our 3 experiments on the new test set is 87.31%.
                        <li><p>
                            <a href="https://arxiv.org/abs/1910.09021" target="_blank">Paper</a> | 
                            <a href="https://github.com/water45wzh/MIPTD_Erhu" target="_blank">Github Page</a>
                        </p></li>
                        
                    </ul>
                </ul>     
            </div>
        </div>


        <div class="row">
            <blockquote class="h4 text-left">
                <p style="color:steelblue; font-size:14pt">Learning-Based Robust Identification of Music</p>
            </blockquote>
            <div class="col-sm-4">
                <a href="https://github.com/ivylijingru/AudioFp" class="portfolio-box">
                    <img src="archive/projects/audio_FP.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project
                            </div>
                            <div class="project-name">
                                Github Page
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-8">
                <ul class="list-inline">
                    <ul class='text-justify'>
                        <li><p>The robustness of audio fingerprinting means that the fingerprinting algorithm can correctly identify the original audio corresponding to it even when the input audio is of low quality. </p></li>
                        <li><p>In this project, we generate fingerprint vectors for a given audio using contrastive learning and metric learning in order to improve robustness.</p></li> 
                        <li><p>The algorithm is compared with the traditional Shazam algorithm, and our method outperforms Shazam by 3-5 retrieval accuracy in the cases of 20 and 10 dB signal-to-noise ratio on the test set.
                        <li><p>
                            <a href="https://github.com/ivylijingru/AudioFp" target="_blank">Github Page</a>
                        </p></li>
                    </ul>
                </ul>     
            </div>
        </div>

        <p></p>

    </div>
    
</section>
