<section class="bg-white small-padding" id="Publication">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publication</h2>
                <hr class="primary">
            </div>
        </div>
    

    <div class="row">
        <ul>
            <li><p><b><em>Jingwei Zhao</em></b> and Gus Xia, <a href="https://arxiv.org/abs/2108.11213" target="_blank">"AccoMontage: Accompaniment Arrangement via Phrase Selection and Style Transfer,"</a> in <em>Proceedings of the 22nd International Society for Music Information Retrieval Conference (ISMIR)</em>, Online, 2021.</p></li>
        
        </ul>
    </div>

    


    </div>
</section>
