<section class="bg-white small-padding" id="Publication">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publication</h2>
                <hr class="primary">
            </div>
        </div>
    

    <div class="row">
        <ul>
            <li><p><b><em>Jingru Li</em></b>, Zehao Wang, Xiaoou Chen, Zijin Li, Shicheng Zhang, Baoqiang Han, Deshun Yang, <a href="https://f5f218df-5007-42f6-905b-7f72220c6756.filesusr.com/ugd/23ae7b_dc0fe6ba05a14250bc3a6f148058a09e.pdf" target="_blank">"Musical Instrument Playing Technique Detection Based on FCN: Using Chinese Bowed-Stringed Instrument as an Example, ”</a> in Workshop on Machine Learning and Music (MML), ECML-PKDD, 2020.</p></li>
        
        </ul>
    </div>


    </div>
</section>
